* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: block;
  padding: 15px;
  color: #c0c0c0;
  text-align: center;
  font-size: 22px;
}

table{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  column-width: auto;
  padding: 3%;
}

p {
  text-align: left;
}

td {
  width: 50%;
  text-align: left;
}

a.link {
  font-size: 14px;
  color: steelblue;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
  font-size: 27px;
  color: #ffffff
}

:root{--border-width:1px;
  --border-style:solid;
  --font-size-small:12px;
  --font-weight-semibold:500;
  --size-2:20px}
  
.min-height-full{
  min-height:100vh!important
}

.pagehead h1{font-size:40px}

.searchbutton{
  height: 15px;
  width: 15px;
}

.searchtext{
  padding: 12%;
  font-family: 'Open Sans';
  font-size: 24px;
  color: darkorange;
}

.home {
  padding: 12%;
  font-family: 'Open Sans';
  font-size: 24px;
  color: darkorange;
}

.app-header p{
  margin-top:30px;
  margin-bottom:0;
  font-size:14px;
  position: relative;
  color:var(--color-text-secondary)
}

/*-----------------------------------------------------Accordion CSS */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

.info {
  text-align: justify;
  padding: 10px;
  font-weight: bolder;
  color: floralwhite;
}

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  z-index: 3;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  border-radius: 20px;
  background-color: #1a578f;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-indent: 10px;
  padding: 16px;
  display: flex;
  border: none;
  outline: none;
  transition: background-color 0.8s ease;
  z-index: 3;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: rgb(197, 163, 70);
}

/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
  margin-top: auto;
  margin-bottom: auto;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 12px;
}

/*-----------------------------------------------------Header CSS */
@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  background-attachment: fixed;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background: #15131f;
}
.bgTop {
  z-index: -1;
  opacity: 0.5;
}
.bgMiddle {
  z-index: -2;
  opacity: 0.75;
}
.bgBottom {
  z-index: -3;
}
.wave {
  position: fixed;
  left: 0;
  width: 200%;
  height: 107%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 20s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 25s linear infinite;
}

/* Burger Menu Styles ------------------------------------------------------------------------ */

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #2d303a;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: absolute;
  height: 100%;
  top: 14%;
}

/* General sidebar styles */
.bm-menu {
  background: #1c1927;
  padding: 0.5em 1em 0;
  font-size: 1.15em;
  border-radius: 15px;
}

a {
  color: #ababab;
  text-decoration: inherit;
  padding-top: 2%;
  font-size: 18px;
}

a#home {
  padding-bottom: 7%;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.4em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

h1.bm-item {
  padding-bottom: 2%;
}

h2.bm-item {
  font-size: 18px;
  padding-top: 3%;
  padding-bottom: 1%;
  color: white;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
}